<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginWSPortBinding" />
                <binding name="TareasDiariasWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.236.140.237:8080/WebServices/LoginWS"
                binding="basicHttpBinding" bindingConfiguration="LoginWSPortBinding"
                contract="LoginWS.LoginWS" name="LoginWSPort" />
            <endpoint address="http://54.236.140.237:8080/WebServices/TareasDiariasWS"
                binding="basicHttpBinding" bindingConfiguration="TareasDiariasWSPortBinding"
                contract="TareasDiariasWS.TareasDiariasWS" name="TareasDiariasWSPort" />
        </client>
    </system.serviceModel>
</configuration>