<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="LoginWSPortBinding" />
                <binding name="TareasDiariasWSPortBinding" />
                <binding name="GestionInstOrigWSPortBinding" />
                <binding name="TrackingErrorWSPortBinding" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://54.236.140.237:8080/WebServices/GestionInstOrigWS"
                binding="basicHttpBinding" bindingConfiguration="GestionInstOrigWSPortBinding"
                contract="GestionInstrumentosOriginadoresWS.GestionInstOrigWS"
                name="GestionInstOrigWSPort" />
            <endpoint address="http://192.168.0.16:8080/WebServices/TareasDiariasWS"
                binding="basicHttpBinding" bindingConfiguration="TareasDiariasWSPortBinding"
                contract="TareasDiariasWS.TareasDiariasWS" name="TareasDiariasWSPort" />
            <endpoint address="http://192.168.0.16:8080/WebServices/TrackingErrorWS"
                binding="basicHttpBinding" bindingConfiguration="TrackingErrorWSPortBinding"
                contract="TrackingErrorWS.TrackingErrorWS" name="TrackingErrorWSPort" />
            <endpoint address="http://192.168.0.16:8080/WebServices/LoginWS"
                binding="basicHttpBinding" bindingConfiguration="LoginWSPortBinding"
                contract="LoginWS.LoginWS" name="LoginWSPort" />
        </client>
    </system.serviceModel>
</configuration>